/* HeaderMessages */

.message__nav {
  align-items: center;
  box-shadow: 1px 1px 6px grey;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.message__arrow_info_user {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 0fr 1fr;
}

.message__arrow_info_user > i {
  color: #9c27b0;
  cursor: pointer;
  font-size: 1.5rem;
}

.message__photo_user_nav {
  align-items: center;
  cursor: pointer;
  display: grid;
  gap: 1rem;
  grid-template-columns: 0fr 1fr;
  position: relative;
}

.message__photoUser_active {
  position: relative;
}

.message__photoUser_active > img {
  border-radius: 100%;
  height: 3rem;
  object-fit: cover;
  width: 3rem;
}

.message__photoUser_active > i {
  border-radius: 100%;
  border: 2px solid #fff;
  bottom: 0.3rem;
  color: lime;
  font-size: 0.7rem;
  position: absolute;
  right: 0.2rem;
}

.message__figcaption > p {
  font-size: 1.2rem;
  font-weight: 500;
}

.message__figcaption > span {
  color: gray;
  font-size: 0.9rem;
}

.message__options {
  color: #9c27b0;
  display: flex;
  font-size: 1.3rem;
  gap: 1rem;
}

.message__options > i {
  cursor: pointer;
}

@media (max-width: 400px) {
  .message__figcaption > p {
    /* font-size: 1.2rem;
    font-weight: 500; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 7rem;
  }
}

@media (min-width: 900px) {
  /* HeaderMessages */

  .message__nav {
    border-bottom: 1px solid #8080804a;
    box-shadow: none;
    padding: 0.5rem 1rem;
  }

  .message__arrow_info_user {
    display: block;
  }

  .message__arrow_info_user > i {
    display: none;
  }

  .message__photo_user_nav > i {
    right: 8.2rem !important;
    font-size: 0.7rem !important;
  }

  .message__photo_user_nav > img {
    border-radius: 100%;
    height: 3rem;
    object-fit: cover;
    width: 3rem;
  }

  .message__options {
    font-size: 1rem;
    gap: 1rem;
  }

  .message__options > i {
    font-size: 1.2rem;
  }

  .message__figcaption > span {
    font-size: 0.9rem;
  }
}
