.reactions__content {
  align-items: center;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px grey;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
  padding: 0.5rem;
  width: 100%;
}

.reactions__emoji {
  position: relative;
  width: 100%;
}

.reactions__emoji > img {
  cursor: pointer;
  transition: 0.6s ease-in-out;
  width: 100%;
}

.reactions__emoji > img:hover {
  transform: translateY(-1.7rem);
  transition: 0.6s ease-in-out;
}

.reactions__emoji > p {
  background: #fff;
  border-radius: 0.5rem;
  bottom: 5rem;
  box-shadow: 1px 1px 6px grey;
  color: #000 !important;
  font-size: 1.1rem;
  opacity: 0;
  padding: 0.5rem 0.3rem;
  position: absolute;
  transition: 0.4s ease-in-out;
  visibility: hidden;
  width: 6rem;
  z-index: -1;
}

.reactions__emoji:hover > p {
  visibility: visible;
  opacity: 1;
  z-index: 21;
  transition: all 0.5s ease-in-out;
}

.profile__love {
  right: -2.5rem;
  width: 8rem !important;
}

.profile__care {
  right: -2rem;
  width: 7rem !important;
}

.profile__haha {
  right: -2rem;
  width: 7rem !important;
}

.profile__wow {
  right: -2.6rem;
  width: 8rem !important;
}

.profile__sad {
  right: -2.5rem;
  width: 8rem !important;
}

.profile__angry {
  right: 0;
  width: 6rem !important;
}

@media (min-width: 800px) {
  .reactions__emoji > p {
    bottom: 5rem;
  }
}
