.see_history__container {
  background: radial-gradient(
    circle at 50% -20.71%,
    #ff8af1 0,
    #ff84f1 12.5%,
    #ff7ded 25%,
    #fc75e5 37.5%,
    #d86cd8 50%,
    #b563c9 62.5%,
    #955abb 75%,
    #7953ae 87.5%,
    #5f4da2 100%
  );
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

.see_history__content_mobile_desk,
.see_history__info_histories_posted {
  height: 100%;
  width: 100%;
}

.see_history__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0.7rem;
  position: relative;
  width: 100%;
}

.see_history__title_storie_no_avaible {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.see_history__title_storie_no_avaible > button {
  background: #0099ff;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 1px 1px 6px gray;
  color: #fff;
  cursor: pointer;
  height: 2rem;
  width: 5rem;
}

.see_history__image_history {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.see_history__content_photo {
  max-height: 30rem;
  max-width: 30rem;
}

.see_history__content_photo > img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.see_history__text_storie {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  padding: 1rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  word-break: break-word;
  z-index: 0;
}

.see_history__next,
.see_history__preview {
  align-items: center;
  background: #a7a7a78a;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 3rem;
  justify-content: center;
  position: absolute;
  right: 1%;
  top: 50%;
  width: 3rem;
  z-index: 99;
}

.see_history__preview {
  left: 1%;
}

@media (min-width: 900px) {
  .see_history__content_mobile_desk {
    display: grid;
    grid-template-columns: 22rem 1fr;
  }

  .see_history__info_histories_posted {
    align-items: center;
    background: #000;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .see_history__content {
    background: radial-gradient(
      circle at 50% -20.71%,
      #a4d8ec 0,
      #a7d7ef 6.25%,
      #abd6f1 12.5%,
      #b0d5f3 18.75%,
      #b5d3f4 25%,
      #bbd2f4 31.25%,
      #c1d0f4 37.5%,
      #c7cff3 43.75%,
      #cdcdf2 50%,
      #d3cbf0 56.25%,
      #d9caed 62.5%,
      #dec8ea 68.75%,
      #e3c7e7 75%,
      #e8c6e3 81.25%,
      #ecc5df 87.5%,
      #efc4da 93.75%,
      #f2c4d6 100%
    );
    border-radius: 0.7rem;
    height: 90%;
    width: 25rem;
  }

  .see_history__image_history {
    z-index: 0;
  }

  .see_history__content_arrow_next_preview {
    height: 100%;
    position: absolute;
    width: 36rem;
  }
}
