.post__image > img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
}

/*  */

.card_share__container {
  margin: 0 auto;
  width: 97%;
}

/*  */

.options_post__container {
}

.options_post__close_modal {
}

.options_post__content {
}

.options_post_info {
}

.options_post__item {
}

.options_post__item i {
}
