.create_history__container {
  background: #fff;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000000;
}

.create_history__content {
  align-items: center;
  background: linear-gradient(180deg, #7b92ff 0, #486ee5 50%, #084caa 100%);
  display: grid;
  gap: 0.5rem;
  grid-template-rows: 0fr 1fr 0fr;
  height: 100%;
  width: 100%;
}

.create_history__nav,
.select_history__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.create_history__btn_close {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
}

.create_history__create_history {
  background: #0099ff;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 6rem;
}

.select_history__btn_close {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
}

.select_history__nav > p {
  font-size: 1.4rem;
  font-weight: 500;
}

.select_history__nav > i {
  cursor: pointer;
  font-size: 1.4rem;
}

@media (min-width: 800px) {
  .create_history__container {
    align-items: center;
    background: #0000008e;
    display: flex;
    justify-content: center;
  }

  .create_history__content {
    border-radius: 1rem;
    box-shadow: 1px 1px 6px grey;
    height: 40rem;
    width: 40rem;
  }
}
