.card_comment__containerCOA {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.card_comment__contain_name_info_comment {
  width: 100%;
}

.card_comment__photo > img {
  border-radius: 100%;
  cursor: pointer;
  height: 3rem;
  object-fit: cover;
  width: 3rem;
}

.card_comment__name_comment {
  background: #f1f2f6;
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
  width: fit-content;
}

.card_comment__text_comment {
  font-size: 1.1rem;
}

.card_comment__image_comment img {
  aspect-ratio: auto 260 / 140;
  border-radius: 1rem;
  cursor: pointer;
  min-height: 8.75rem;
  margin: 0.5rem 0 0 0;
  max-height: 17rem;
  object-fit: cover;
  width: 16.25rem;
}

.card_comment__name_elli {
  align-items: center;
  display: grid;
  font-size: 1.1rem;
  font-weight: bold;
  gap: 1.3rem;
  grid-template-columns: 1fr 0fr;
  position: relative;
  width: 100%;
}

.card_comment__name_elli > a {
  color: #000;
  cursor: pointer;
  width: fit-content;
}

.card_comment__name_elli > i {
  cursor: pointer;
}

.card_comment__options_elli {
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 6px grey;
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 1rem;
  z-index: 99;
}

.card_comment__options_elli p {
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
}

.card_comment__date_reaction_response {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  gap: 0.3rem;
  justify-content: space-between;
  padding: 0.1rem 0.5rem;
  width: 100%;
}

.card_comment__content_spans {
  display: flex;
  gap: 2rem;
}

.card_comment__content_spans > span:nth-child(1) {
  cursor: auto;
}

.card_comment__content_spans > span {
  color: #686868;
  cursor: pointer;
  position: relative;
}

/* reactions float buttons */

.card_comment__container {
  bottom: 2rem;
  left: -6rem;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  width: 20rem;
  z-index: -1;
}

.card_comment__content_spans
  > span:nth-child(2):hover
  .card_comment__container {
  visibility: visible;
  opacity: 1;
  z-index: 21;
  transition: all 0.5s ease-in-out;
}

/*  */

.card_comment__show_quality_answers {
  color: gray;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
  margin: 0.6rem 0 0;
  width: fit-content;
}

.card_comment__show_quality_answers i {
  transform: rotate(90deg);
}

@media (min-width: 800px) {
  .comments__container {
    width: 19rem;
  }
}
