.profile__container {
  background-color: #dedede;
  width: 100%;
}

.profile__content,
.profile__contain_details_and_posts,
.profile__content_form_post {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.profile__content_images_user_info {
  background: #fff;
  padding: 0 0 0.8rem 0;
}

.profile__cover_photo {
  height: 20rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.profile__cover_photo > img {
  height: 100%;
  width: 100%;
}

.profile__img_cover {
  align-items: center;
  background: #d6d6d6;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.profile__img_cover > p {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.profile__content_photo_user {
  padding: 12rem 0.7rem 0;
  position: relative;
  z-index: 10;
}

.profile__photo_user {
  position: relative;
  width: fit-content;
}

.profile__photo_user > img {
  border-radius: 50%;
  border: 6px solid #fff;
  cursor: pointer;
  height: 10rem;
  object-fit: cover;
  width: 10rem;
}

.profile__camera_float {
  align-items: center;
  background: #e5e5e5e8;
  border-radius: 50%;
  border: 3px solid #fff;
  bottom: 0.5rem;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  height: 2.5rem;
  justify-content: center;
  position: absolute;
  right: 1rem;
  width: 2.5rem;
  z-index: 99;
}

.profile__name_user {
  font-size: 1.5rem;
  font-weight: 500;
}

.profile__buttons_history,
.profile__buttons_history_other {
  align-items: center;
  display: grid;
  gap: 0.7rem;
  grid-template-columns: 1fr 0fr;
  padding: 1rem 0 0;
  width: 100%;
}

.profile__buttons_history_other {
  grid-template-columns: 1fr 1fr;
}

.profile__add_history,
.profile__see_all_friends,
.profile__edit_public_details,
.profile__btn_other {
  align-items: center;
  background: #1c75e0;
  border-radius: 0.4rem;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  gap: 0.5rem;
  height: 2.3rem;
  justify-content: center;
  width: 100%;
}

.profile__btn_other:nth-child(1) {
  background: #e5e6eb;
  color: #000;
}

.profile__ellipsis {
  align-items: center;
  background: #cccccc;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 2.3rem;
  justify-content: center;
  width: 3rem;
}

.profile__contents_other_info_user {
  background: #fff;
  padding: 0.7rem;
  width: 100%;
}

.profile__titles_post {
  align-items: center;
  border-bottom: 1px solid gray;
  display: flex;
  height: 3rem;
  width: 100%;
}

.profile__titles_post > p {
  background: #0099ff24;
  border-radius: 2rem;
  color: #0099ff;
  cursor: pointer;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
}

.title_details {
  font-weight: 500;
  padding: 0.7rem 0;
}

.profile__list_details {
  display: grid;
  gap: 0.8rem;
  justify-items: start;
  width: 100%;
}

.profile__list_item {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.profile__list_item > i {
  color: gray;
  font-size: 1.2rem;
}

.profile__edit_public_details {
  background: #1c75e047;
  color: #1c75e0;
  cursor: pointer;
  font-weight: 500;
}

.profile__content_titles {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
}

.profile__span_title_friend > p:nth-child(1) {
  font-size: 1.3rem;
  font-weight: 500;
}

.profile__span_title_friend > p:nth-child(2) {
  color: gray;
}

.profile__btn_find_friends {
  background: transparent;
  border: none;
  color: #1c75e0;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
}

.profile__all_info_friends {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.profile__list_friends {
  display: grid;
  cursor: pointer;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.profile__friend_info > img {
  width: 6rem;
  height: 6rem;
  border-radius: 0.6rem;
}

.profile__friend_info > p {
  font-weight: 500;
}

.profile__see_all_friends {
  background: #cccccc;
  color: #000;
  font-weight: 500;
}

@media (min-width: 900px) {
  .profile__container {
    align-items: center;
    background: #f1f2f6;
    display: flex;
    justify-content: center;
  }

  .profile__content {
    position: relative;
    width: 55rem;
  }

  .profile__content_images_user_info {
    box-shadow: 0px 1px 6px #80808042;
  }

  .profile__cover_photo {
    height: 25rem;
  }

  .profile__img_cover {
    border-radius: 0 0 1rem 1rem;
  }

  .profile__content_photo_user {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 0fr 1fr 0fr;
    padding: 23rem 0.7rem 0;
  }

  .profile__photo_user > img {
    height: 12rem;
    width: 12rem;
  }

  .profile__name_user {
    margin: 1.5rem 0 0;
  }

  .profile__name_user {
    font-size: 2rem;
  }

  .profile__buttons_history,
  .profile__buttons_history_other {
    align-items: end;
    height: 100%;
  }

  .profile__add_history {
    width: 14rem;
  }

  .profile__btn_other {
    width: 8rem;
  }

  .profile__contain_details_and_posts {
    align-items: start;
    grid-template-columns: 1fr 1fr;
  }

  .profile__contents_other_info_user {
    background: transparent;
    display: grid;
    gap: 1rem;
    padding: 0;
  }

  .profile__info_details,
  .profile__content_info_friends {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 6px #80808042;
    padding: 0.8rem 1rem;
  }

  .profile__content_titles {
    margin: 0 0 1rem 0;
  }
}

@media (min-width: 1100px) {
  .profile__content {
    width: 70rem;
  }
}
